body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    scroll-behavior: smooth;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
    overflow-y: auto;
}

h1, h2 {
    color: #4a4a4a;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #555;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input[type="number"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.logo {
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bottom-logo {
    width: 90px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.bottom-logo.enlarged {
    transform: scale(2);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

p {
    margin-top: 20px;
    font-weight: bold;
    color: #0f539b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: 700;
}

td {
    background-color: #fff;
}

tbody tr:nth-child(odd) td {
    background-color: #f9f9f9;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

/** for the intro page **/ 


/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 120px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.button {
    background: #6200ea;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-size: 1rem;
}

.button:hover {
    background: #3700b3;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    .button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button {
        width: 80%;
        text-align: center;
    }
}







h1, h2 {
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 10px 0;
}
.faq dt {
    font-weight: bold;
}
.faq dd {
    margin: 0 0 10px 20px;
}
.contact {
    margin-top: 20px;
}

.paragraph{
    text-align: center;
    margin-bottom: 50px;
    
}